{% extends "blog/base.html" %}
{% block content %}
    <div style="margin: 0 auto; width: 90%; max-width: 600px; text-align: justify; font-size: 20px; min-height: calc(100vh - 141px);"> <!-- Centering the content with margin auto and setting a width, justifying text, adjusting font size, and extending to the bottom of the page -->
        <h1 style="text-align: center;">My Personal Website & Portfolio</h1> <!-- Centering the heading -->
        <p>
            This website was created to showcase some entry level web development skills and mainly a place to store personal projects.
            My entire career has been in embedded electronics, so this was definitely out of my comfort zone.
            The site works on both mobile and desktop, but the desktop site has so many wonderful, smooth,
            and fun animations. On all pages you'll see if there is a scroll bar and you scroll down, 
            the navbar disappears immediately, but upon scrolling up it appears again. On the home page, 
            if you hover over the project images, the descriptions pop up with technologies used shown. 
            There was a lot of effort and small quirks that went into the site. By far my favorite are 
            the spinning logos of LinkedIn, LeetCode, and GitHub when you hover over them with a mouse.
        </p>
        <p>
            Technologies used include: Django, Bootstrap, HTML, CSS, & JavaScript Deployed on Heroku
        </p> 
    </div>
{% endblock content %}
